*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 5px;
    margin: 1rem 0;
    text-align: center;
    border-radius: 5px;
}

.add-btn {
    color: rgb(100, 100, 100);
    background-color: whitesmoke;
    border: 2px rgb(100, 100, 100) solid;
    
    width: 7rem;
    transition: all 0.1s;
}

.add-btn:hover {
    background-color: rgb(100, 100, 100);
    color: whitesmoke;
}

.building {
    position: relative;
    width: 60vw;
}

.elevator {
    position: absolute;
    left: 7rem;
    bottom: 0px;

    background-color: teal;
    height: 5rem;
    max-width: 3rem;
    width: 5vw;
    min-width: 2rem;

    transition: all 1s linear;
}

.floor {
    position: relative;
    border-bottom: 2px solid black;
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.floor .floor-number {
    position: absolute;
    right: 0;
    top: 8rem;
    margin-right: 4px;
}

.btn-container {
    margin-left: 4px;
}

.up-btn {
    background-color: rgb(17, 134, 23);
    color: rgb(198, 221, 199);
    width: 4rem;
}

.up-btn:hover {
    background-color: rgb(22, 163, 29);
}

.down-btn {
    background-color: rgb(209, 27, 27);
    color: rgb(218, 197, 197);
    width: 4rem;
}

.down-btn:hover {
    background-color: rgb(231, 31, 31);
}

@media screen and (max-width: 768px) {
    .wrapper {
        justify-content: center;
    }
    .building {
        width: 100vw;
    }
}