*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.building {
    position: relative;
    width: 60vw;
}

.elevator {
    position: absolute;
    left: 7rem;
    bottom: 0px;

    background-color: teal;
    height: 5rem;
    max-width: 3rem;
    width: 5vw;
    min-width: 2rem;

    transition: all 1s linear;
}

.floor {
    position: relative;
    border-bottom: 2px solid black;
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.floor:after {
    position: absolute;
    left: 61vw;
    top: 8rem;
    content: "Floor";
}

.up-btn {
    background-color: rgb(17, 134, 23);
    color: rgb(198, 221, 199);
    width: 4rem;
    padding: 5px;
    margin: 1rem 0;
    text-align: center;
    border-radius: 5px;
}

.up-btn:hover {
    background-color: rgb(22, 163, 29);
}

.down-btn {
    background-color: rgb(209, 27, 27);
    color: rgb(218, 197, 197);
    width: 4rem;
    padding: 5px;
    margin: 1rem 0;
    text-align: center;
    border-radius: 5px;
}

.down-btn:hover {
    background-color: rgb(231, 31, 31);
}

@media screen and (max-width: 768px) {
    .wrapper {
        justify-content: start;
    }
    .building {
        width: 80vw;
    }
    .floor::after {
        left: 82vw;
    }
}