* {
  box-sizing: border-box;
}

:root {
  --rust-700:#512c2c;
  --rust-500: #6b1d09;
  --rust-400: #9a542e;
  --rust-300: #bf935c;
  --rust-200: #d0c8a8;

  --base-color: var(--rust-300);
  --primary-color: var(--rust-200);
  --text-color: var(--rust-300);
  --border-color: var(--rust-500);

  --lift-color: var(--base-color);
  --lift-border-color: var(--border-color);
  --button-color: var(--base-color);
  --button-text-color: var(--border-color);
  --floor-bg-color: var(--primary-color);
  --floor-wall-color: var(--border-color)
}

.building {
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.lift {
  position: absolute;
  bottom: 0;
  border: 2px solid var(--lift-border-color);
  height: 5em;
  width: 2.9em;
  display: flex;
  overflow-x: hidden;
}

.lift__door {
  flex-grow: 1;
  height: 100%;
  background-color: var(--lift-color);
  transition: transform 1s linear;
}

.lift--open > .door--left.lift__door {
  transform: translateX(-100%);
}

.lift--open > .door--right.lift__door {
  transform: translateX(100%);
}

.floor {
  border-color: var(--floor-wall-color);
  border-style: solid;
  background-color: var(--floor-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.floor__button {
  left: 15px;
  position: relative;
  height: 3.2em;
  width: 5em;
  border: none;
  color: var(--button-text-color);
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;

  transition: transform 0.05s linear;
}

.floor__button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.floor__button--up {
  background-color: var(--button-color);
}

.floor__button--down {
  background-color: var(--button-color);
}